---
layout: bootcamp
root: .
venue: University of British Columbia
address: Earth, Ocean and Atmospheric Sciences, ESB-5108
country: Canada
humandate: Sep 25-26, 2014
humantime: 9:00 - 4:00 Thu, 9:00 - 4:30 Fri
startdate: 2014-09-25
enddate: 2014-08-26
latlng: 49.263,-123.252
registration: restricted
host: Susan Allen
contact: sallen@eos.ubc.ca
instructor: ["Doug Latornell", "Susan Allen"]
helper: ["Jordan Aaron", "Karina Ramos Musalem", "Drew Snauffer", "Nancy Soontiens", "Kathi Unglert", "Kang Wang"]
---

<h2>General Information</h2>

<p>
  <a href="//software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

{% if page.host %}
<p>
  <strong>Host:</strong>
  {{page.host | join: ', ' %}}
</p>
{% endif %}

{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other scientists
  who are familiar with basic programming concepts (like loops,
  conditionals, arrays, and functions) but need help to translate this
  knowledge into practical tools to help them work more
  productively.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information or to register for the bootcamp.
</p>

<p>
  <strong>Etherpad:</strong>
  <a href="https://etherpad.mozilla.org/tDiQKEsobS">etherpad.mozilla.org/tDiQKEsobS</a>
</p>

<hr>

<h2>Coffee and Food</h2>

<div class="row-fluid">
  <div class="span12">
    <p>
      Coffee, tea, and snacks will be provided at morning and afternoon breaks during the bootcamp.
      Lunch will not be provided, but your are welcome to bring your lunch to eat in the lounge area outside ESB-5108.
      Magma at the south end of the ground floor of ESB is one option for those who wish to buy lunch.
    </p>
  </div>
</div>

<!--
    Edit this block to show the schedule for your bootcamp.
-->
<h2>Schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Thu 25-Sep-2014</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Introduction</td> </tr>
      <tr>
        <td>09:20</td>
        <td><a href="novice/shell/index.html">Automating tasks with the Unix shell</a></td>
      </tr>
      <tr> <td>10:15</td> <td>Break</td> </tr>
      <tr> <td>12:00</td> <td>Lunch</td> </tr>
      <tr>
        <td>13:00</td>
        <td><a href="novice/hg/index.html">Version control with Mercurial</a></td>
      </tr>
      <tr> <td>14:15</td> <td>Break</td> </tr>
      <tr> <td>15:45</td> <td>Wrap-up</td> </tr>
      <tr>
        <td>16:00</td>
        <td>
          EOAS Department Colloquim
          <br>
          (for those interested - ESB 5104/5106)
          <br>
          Dorrit Jacob, Macquarie University
          <br>
          <em>How to build a carbonate shell - insights from the submicron scale</em>
          </td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Fri 26-Sep-2014</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td><a href="novice/python/index.html">Building programs with Python</a></td>
      </tr>
      <tr> <td>10:30</td> <td>Break</td> </tr>
      <tr> <td>12:00</td> <td>Lunch</td> </tr>
      <tr> <td>13:00</td> <td>Data Exploration with Python</td> </tr>
      <tr> <td>14:30</td> <td>Break</td> </tr>
      <tr> <td>16:00</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>Syllabus</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>The Unix Shell</h3>
    <ul>
      <li><a href="novice/shell/index.html">Lessons:</a></li>
      <ul>
        <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
        <li>History and tab completion</li>
        <li>Pipes and redirection</li>
        <li>Looping over files</li>
        <li>Creating and running shell scripts</li>
        <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
      </ul>
      <li><a href="novice/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>

  <div class="span6">
    <h3>Version Control with Mercurial</h3>
    <ul>
      <li><a href="novice/hg/index.html">Lessons:</a></li>
      <ul>
        <li>Creating a repository</li>
        <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
        <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
        <li>Ignoring files</li>
        <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
        <li>Resolving conflicts</li>
        <li>Open licenses</li>
        <li>Where to host work, and why</li>
      </ul>
      <li><a href="novice/ref/02-hg.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Programming in Python</h3>
    <ul>
      <li><a href="novice/python/index.html">Lessons:</a></li>
      <ul>
        <li>Using libraries</li>
        <li>Working with arrays</li>
        <li>Reading and plotting data</li>
        <li>Creating and using functions</li>
        <li>Loops and conditionals: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
        <li>Defensive programming</li>
        <li>Using Python from the command line</li>
      </ul>
      <li><a href="novice/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Data Exploration with Python</h3>
    <ul>
      <li>TODO</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Reference Guides</h3>
      <p>These short reference guides cover the basic tools and ideas introduced in our lessons.</p>
      <ol>
        <li><a href="novice/ref/01-shell.html">The Unix Shell</a></li>
        <li><a href="novice/ref/02-hg.html">Version Control with Mercurial</a></li>
        <li><a href="novice/ref/03-python.html">Programming with Python</a></li>
        <li><a href="novice/ref/05-prompts-exits.html">Recognising prompts and how to exit</a></li>
      </ol>
  </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp,
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

TODO

<!-- {% include setup.html %} -->
