<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
      The default text editor on Mac OS X and Linux is usually set to Vim,
      which is not famous for being intuitive.
      if you accidentally find yourself stuck in it,
      try typing the escape key,
      followed by ':q!' (colon, lower-case 'q', exclamation mark),
      then hitting Return
      to return to the shell.
    </p>
    <h4>The Bash Shell</h4>
    <p>
      Bash is a commonly-used shell. Using a shell gives you
      more power to do more tasks more quickly with your
      computer.
    </p>
  </div>
  <div class="span6">
    <h4>Mercurial</h4>
    <p>
      Mercurial is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="https://bitbucket.org/">bitbucket.org</a>.
    </p>
    <h4>Python</h4>
    <p>
      Python is becoming very popular in scientific computing,
      and it's a great language for teaching general programming concepts due to its easy-to-read syntax.
      We teach with Python version 2.7,
      since it is still the most widely used.
      Installing all the scientific packages for Python individually can be a bit difficult,
      so we recommend an all-in-one installer.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>Steps</h3>
    <ul>
      <li>
        If you don't already have one,
        please create a <a href="https://bitbucket.org">Bitbucket.org</a> account for yourself.
        It's free,
        and if you use your <kbd>@eos.ubc.ca</kbd> email address you should automatically get the extra perk of unlimited private collaborations.
      </li>
      <li>
        Please follow the setup instructions below (pick the appropriate operating system) to install those tools on the laptop that you will be bringing to the bootcamp.
      </li>
    </div>
    <div class="span2">
      <a href="windows">Windows</a>
    </div>
    <div class="span2">
      <a href="#osx">Mac OS/X</a>
    </div>
    <div class="span2">
      <a href="#linux">Linux</a>
    </div>
    <div class="span12">
      <p>
        It is <em>very important</em> that you successfully complete the setup before the bootcamp so that we can start on time, and you can participate fully.
        If you have difficulty with the setup,
        or have any questions about the setup instructions,
        please contact Doug at <a href="mailto:dlatornell@eos.ubc.ca">dlatornell@eos.ubc.ca</a>.
      </p>
      <li>
        Also, please ensure that your laptop is able to connect to the <code>ubcsecure</code> wireless network to give you Internet access during the bootcamp.
      </li>
      <li>
        Finally, please take a moment to read the Software Carpentry Bootcamp
        <a href="http://software-carpentry.org/conduct.html">Code of Conduct</a>.
      </li>
    </ul>
  </div>
</div>


<h3 id="windows">Windows</h3>

<div class="row-fluid">
  <div class="span6">
   <h4>Python</h4>
    <ul>
      <li>
        Download and install <a href="http://continuum.io/downloads.html">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>Git Bash</h4>
    <p>
      Install Git for Windows, which includes a Bash emulator, by download and running
      <a href="http://msysgit.github.io/">the installer</a>.
    </p>
    <h4>Software Carpentry Installer</h4>
    <p>This installer requires an active internet connection</p>
    <p>After installing Python and Git Bash:</p>
    <ul>
      <li>
        Download the <a href="{{site.windows_installer_path}}">installer</a>.
      </li>
      <li>
        If the file opens directly in the browser select <strong>File&rarr;Save Page As</strong>
        to download it to your computer.
      </li>
      <li>
        Double click on the file to run it.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <code>nano</code> is the editor installed by the Software Carpentry Installer,
      it is a basic editor integrated into the lesson material.
    </p>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
      popular free code editor for Windows.
      Be aware that you must add its installation directory to your system path
      in order to launch it from the command line
      (or have other tools like Git launch it for you).
      Please ask your instructor to help you do this.
    </p>
    <h4>Mercurial</h4>
    <p>
      Install Mercurial and KDiff3 by downloading and running the <a href="http://tortoisehg.bitbucket.org/">TortoiseHg</a> installer.
    </p>
  </div>
</div>


<h3 id="osx">Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
    <h4>Mercurial</h4>
    <p>
      Install Mercurial by downloading and running the installer for your version of OS/X from the <a href="http://mercurial.selenic.com/downloads">downloads page</a>.
      Also, please install the <a href="http://kdiff3.sourceforge.net/">KDiff3</a> diff and merge tool.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install <a href="http://continuum.io/downloads.html">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
  </div>
</div>


<h3 id="linux">Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
    <h4>Mercurial</h4>
    <p>
      If Mercurial is not already available on your machine you can try
      to install it via your distro's package manager
      (e.g. <code>apt-get</code> or <code>yum</code>).
      Also, please install the <a href="http://kdiff3.sourceforge.net/">KDiff3</a> diff and merge tool.
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> is one option for Linux users.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      We recommend the all-in-one scientific Python installer
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
      (Installation requires using the shell and if you aren't
      comfortable doing the installation yourself just
      download the installer and we'll help you at the boot
      camp.)
    </p>
    <ol>
      <li>
        Download the installer that matches your operating
        system and save it in your home folder.
      </li>
      <li>
        Open a terminal window.
      </li>
      <li>
        Type <pre>bash Anaconda-</pre> and then press
        tab. The name of the file you just downloaded should
        appear.
      </li>
      <li>
        Press enter. You will follow the text-only
        prompts. When there is a colon at the bottom of the
        screen press the down arrow to move down through the
        text. Type <code>yes</code> and press enter to approve
        the license. Press enter to approve the default
        location for the files. Type <code>yes</code> and
        press enter to prepend Anaconda to
        your <code>PATH</code> (this makes the Anaconda
        distribution the default Python).
      </li>
    </ol>
  </div>
</div>
